body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/jungle-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
}

#player-selection p,
#games p {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#player-selection button,
#games button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: white;
    transition: all 0.2s;
}

#player-selection button:hover,
#games button:hover {
    background-color: rgba(0,0,0,0.7);
}

#current-player {
    margin-top: 20px;
    font-size: 1.3em;
}
