body{
    margin:0;
    font-family:Arial;
    background:#4285F4; /* blauwe achtergrond */
    overflow:hidden;
}

/* HEADER */
header{
    background:#3367d6;
    color:white;
    padding:10px;
    display:grid;
    grid-template-columns:1fr 2fr 1fr;
    text-align:center;
}

header button{
    background:white;
    border:none;
    padding:8px;
    border-radius:8px;
}

/* GAME BOX (zoals letter jungle) */
#gameContainer{
    position:absolute;
    top:70px;
    left:50%;
    transform:translateX(-50%);
    width:95%;
    height:calc(100% - 90px);
    background:white;
    border-radius:20px;
    overflow:hidden;
}

/* TREX */
#trex{
    position:absolute;
    width:80px;
}

/* LETTERS */
.letter{
    position:absolute;
    font-size:50px;
    padding:12px 18px;
    border-radius:12px;
    background:#ff9800;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

/* UI */
#target{
    position:absolute;
    top:10px;
    right:10px;
}

#target img{
    width:90px;
}

#progress{
    position:absolute;
    top:110px;
    right:10px;
    font-size:30px;
}

#score{
    position:absolute;
    top:10px;
    left:10px;
    background:#eee;
    padding:8px 12px;
    border-radius:10px;
}

/* PROFIELKEUZE */
#playerSelect{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    background:#ffffffee;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
}

/* REWARD */
#reward{
    display:none;
    position:absolute;
    top:70px;
    width:100%;
    height:calc(100% - 70px);
    background:#ffffffee;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* ANIMATIES */
.pop{ animation:pop 0.3s forwards; }
@keyframes pop{ to{ transform:scale(2); opacity:0; } }

.shake{ animation:shake 0.3s; }
@keyframes shake{
    25%{ transform:translateX(-5px); }
    50%{ transform:translateX(5px); }
}
