body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
    overflow:hidden;
}

/* HEADER */
header{
    background:#4285F4;
    color:white;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header button{
    background:white;
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer;
}

#title{
    font-size:20px;
    font-weight:bold;
}

/* MENU */
#menu{
    position:absolute;
    width:100%;
    height:calc(100% - 60px);
    top:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:15px;
}

#menu button{
    font-size:20px;
    padding:12px 20px;
    border:none;
    border-radius:12px;
    background:#4caf50;
    color:white;
    cursor:pointer;
}

/* GAME */
#game{
    display:none;
    position:absolute;
    width:100%;
    height:calc(100% - 60px);
    top:60px;
}

#trex{
    position:absolute;
    width:80px;
    left:50px;
    top:50px;
    transition:0.15s;
}

/* LETTERS */
.letter{
    position:absolute;
    font-size:50px;
    padding:12px 18px;
    border-radius:12px;
    background:#ff9800;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

/* UI */
#target{
    position:absolute;
    top:10px;
    right:10px;
}

#target img{
    width:80px;
}

#progress{
    position:absolute;
    top:100px;
    right:10px;
    font-size:28px;
}

#score{
    position:absolute;
    top:10px;
    left:10px;
    background:white;
    padding:8px 12px;
    border-radius:10px;
}

#levelUI{
    position:absolute;
    top:50px;
    left:10px;
}

/* REWARD */
#reward{
    display:none;
    position:absolute;
    top:60px;
    width:100%;
    height:calc(100% - 60px);
    background:#ffffffee;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

/* ANIMATIES */
.pop{ animation:pop 0.3s forwards; }
@keyframes pop{
    to{ transform:scale(2); opacity:0; }
}

.bite{ animation:bite 0.2s; }
@keyframes bite{
    50%{ transform:scale(1.4); }
}

.shake{ animation:shake 0.3s; }
@keyframes shake{
    25%{ transform:translateX(-5px); }
    50%{ transform:translateX(5px); }
}
