body{
  margin:0;
  font-family:Arial;
}

.hidden{display:none;}

#menu{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

button{
  font-size:22px;
  padding:10px 20px;
}
